services:
  - type: web
    name: usb-key-song-update
    env: node
    region: frankfurt
    plan: free
    buildCommand: npm ci && npm run build && ls -la && ls -la dist/
    startCommand: node dist/index.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 3000
    healthCheckPath: /
